node_modules/
dist/
benchmark/dist/
results.json
shadow.json
.vite/
.vitest-cache/
coverage/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.idea/
.vscode/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
